:root{
    --blue : #64b5f6;
    --light-blue :#9be7ff;
    --dark-blue : rgb(34, 134, 195);
}

*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color:var(--blue);
}
li{
    list-style: none;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-blue);
}

header span{
    font-size:100px;
    color:var(--blue);
}

.todo-input{
    border: 0;
    font-size: 30px;
    padding: 12px 12px 12px 50px;
    box-shadow: 10px 10px 10px 5px rgba(34, 134, 195, 0.8);
    margin-bottom:30px;
    background-color:  rgb(255, 247, 247);
}
.todo-input::placeholder{
    color:var(--light-blue);
    font-style: italic;
}
.todo-list{
    display: none;
    background-color: rgb(255, 247, 247);
    border-radius: 10px;
    border: 3px solid var(--blue);
}
.list-section li{
    font-size: 20px;
    padding:8px;
    color:var(--dark-blue);
}
.list-section li:hover{
    color:rgb(20, 89, 133);
    text-decoration-line: line-through;
}
.list-section li.toggle{
    color:var(--light-blue);
    text-decoration-line: line-through;
}
.info-section {
    background-color: var(--blue);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:white;
}
.info-section a {
    color:white;

}
.info-section div a:not(.selected):hover {
    color:orangered;

}
.choose-option{
    display: flex;
    justify-content: space-between;
}
.choose-option a{
    padding:2px 5px;
}
.choose-option .selected{
    background-color: orangered;
    border-radius: 3px;
}
.clear:hover {
    text-decoration-line: underline;
}
ul.list-section.All li{
    display:block;
}
ul.list-section.Active li.toggle{
    display: none;
}
ul.list-section.Completed li:not(.toggle){
    display: none;
}