:root{
    --blue : #64b5f6;
    --light-blue :#9be7ff;
    --dark-blue : rgb(34, 134, 195);
}

*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-blue);
}

header span{
    font-size:100px;
    color:var(--blue);
}

.todo-input{
    border: 0;
    font-size: 30px;
    padding: 12px 12px 12px 50px;
    box-shadow: 10px 10px 10px 5px rgba(34, 134, 195, 0.8);
    margin-bottom:30px;
}
.todo-input::placeholder{
    color:var(--light-blue);
}